# Grab Batter Info

## Monday, November 7
## Sam LaFell

### Purpose:
This notebook is to evaluate batter information. We wnat to pull in various batter metrics.
- Metrics could include:
    - WAR
    - PA
    - Expected Batting Average
    - BABIP
    - Expected Slugging Pct
    - Etc Etc

In [1]:
import pybaseball as pb
import pandas as pd

# Set max cols
pd.set_option('display.max_columns', 350)
pd.set_option('display.max_rows', 100)

## Data Needed:
-  Player ID
- Plate Appearances
- expected Batting Average


## First Up: Player ID
### Start with One Team, One Game

In [3]:
# batting stats by year, regular season
from pybaseball.lahman import *
batting = batting()

In [4]:
batting.head(10)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
5,armstbo01,1871,1,FW1,NaN,12,49,9,11,2,...,5.0,0.0,1.0,0,1.0,NaN,NaN,NaN,NaN,0.0
6,barkeal01,1871,1,RC1,NaN,1,4,0,1,0,...,2.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,0.0
7,barnero01,1871,1,BS1,NaN,31,157,66,63,10,...,34.0,11.0,6.0,13,1.0,NaN,NaN,NaN,NaN,1.0
8,barrebi01,1871,1,FW1,NaN,1,5,1,1,1,...,1.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
9,barrofr01,1871,1,BS1,NaN,18,86,13,13,2,...,11.0,1.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0

In [33]:
from pybaseball import batting_stats
from datetime import datetime

game_date = '2018-05-13'
game_year = datetime.strptime(game_date, '%Y-%m-%d').year

# get all of this season's batting data so far
data = batting_stats(game_year, qual=250)

# Team we want
team = 'ATL'
atl_batters = data.loc[data['Team']==team]

In [37]:

atl_batters_lookup = pd.DataFrame()
atl_batter_list = atl_batters['Name'].values
for batter in atl_batter_list:
    last_name = batter.split(' ')[1]
    first_name = batter.split(' ')[0]
    batter_lookup = pb.playerid_lookup(last_name, first_name)
    atl_batters_lookup = pd.concat([atl_batters_lookup, batter_lookup])

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,freeman,freddie,518692,freef001,freemfr01,5361,2010.0,2022.0
0,acuna,ronald,660670,acunr001,acunaro01,18401,2018.0,2022.0
0,albies,ozzie,645277,albio001,albieoz01,16556,2017.0,2022.0
0,inciarte,ender,542255,incie001,inciaen01,4922,2014.0,2022.0
0,camargo,johan,622666,camaj001,camarjo01,14950,2017.0,2022.0
0,markakis,nick,455976,markn001,markani01,5930,2006.0,2020.0
0,flowers,tyler,452095,flowt001,flowety01,9134,2009.0,2020.0
0,swanson,dansby,621020,swand001,swansda01,18314,2016.0,2022.0
0,culberson,charlie,518586,culbc001,culbech01,3298,2012.0,2022.0
0,suzuki,kurt,435559,suzuk001,suzukku01,8259,2007.0,2022.0

In [38]:
# No team information in statcast data, can't limit to one team using this method, need the above batting_stats call to grab team info
from pybaseball import statcast_batter
atl_batters_playerids = atl_batters_lookup['key_mlbam'].values
statcast_batter(game_date, game_date, atl_batters_playerids[0])

Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,SI,2018-05-13,95.9,-1.91,6.04,"Freeman, Freddie",518692,570632,field_out,hit_into_play,...,0,1,0,1,0,Infield shift,Standard,238,0.007,-0.143
1,SL,2018-05-13,86.1,-2.10,6.03,"Freeman, Freddie",518692,570632,NaN,called_strike,...,0,1,0,1,0,Infield shift,Standard,178,0.000,-0.079
2,SI,2018-05-13,93.7,-2.09,6.02,"Freeman, Freddie",518692,570632,NaN,foul,...,0,1,0,1,0,Infield shift,Standard,237,0.000,-0.082
3,SI,2018-05-13,93.2,-2.14,6.07,"Freeman, Freddie",518692,570632,NaN,ball,...,0,1,0,1,0,Infield shift,Standard,240,0.000,0.045
4,SI,2018-05-13,94.3,-1.77,5.91,"Freeman, Freddie",518692,570632,walk,ball,...,0,1,0,1,0,Infield shift,Standard,234,-0.019,0.073
5,SL,2018-05-13,89.2,-1.90,5.96,"Freeman, Freddie",518692,570632,NaN,ball,...,0,1,0,1,0,Infield shift,Standard,210,0.000,0.075
6,SI,2018-05-13,94.1,-1.91,6.05,"Freeman, Freddie",518692,570632,NaN,ball,...,0,1,0,1,0,Infield shift,Standard,229,0.000,0.045
7,CH,2018-05-13,88.8,-1.93,5.95,"Freeman, Freddie",518692,570632,NaN,ball,...,0,1,0,1,0,Infield shift,Standard,238,0.000,0.033
8,FF,2018-05-13,96.4,-1.35,6.02,"Freeman, Freddie",518692,570632,single,hit_into_play,...,0,0,0,0,0,Infield shift,Standard,216,-0.012,0.121
9,FF,2018-05-13,93.8,-2.24,6.03,"Freeman, Freddie",518692,607457,field_out,hit_into_play,...,0,3,0,3,0,Infield shift,Standard,197,0.008,-0.308

In [39]:
atl_batters_lookup['key_mlbam'].values

array([518692, 660670, 645277, 542255, 622666, 455976, 452095, 621020,
       518586, 435559])